<!-- Navbar -->
<header class="w-full bg-white shadow-lg">
	<div class="navbar max-w-7xl mx-auto">
		<div class="flex-1">
			<!-- <a
				href="{{page_path 'help_center'}}"
				class="link no-underline text-xl"
			>{{settings.brand_name}}</a> -->
			<a
				href="{{page_path 'help_center'}}"
				class="flex items-center gap-2"
			>
				<img
					src="{{settings.logo}}"
					alt="{{settings.brand_name}}"
					class="w-32 h-auto"
				/>
				{{#if settings.show_brand_name}}
					{{settings.brand_name}}
				{{/if}}
			</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal hidden sm:flex items-center px-1">
				<li>
					<a id="dynamic-link" href=""></a>
				</li>
				<li><a>Visit Webstore</a></li>
				<div class="divider divider-horizontal divider-neutral"></div>
				<li>
					<details>
						<summary
							class="btn btn-ghost btn-sm"
						>{{current_locale.name}}</summary>
						{{#if alternative_locales}}
							<ul
								class="bg-white shadow-sm border border-gray-200 rounded-t-none p-2"
							>
								{{#each alternative_locales}}
									<li><a
											href="{{url}}"
											dir="{{direction}}"
										>{{name}}</a></li>
								{{/each}}
							</ul>
						{{/if}}
					</details>
				</li>
			</ul>
			<div
				id="hamburger-btn"
				tabindex="0"
				role="button"
				class="btn btn-ghost sm:hidden"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h16M4 18h7"
					/>
				</svg>
			</div>
		</div>
	</div>
	<!-- Menu drawer on mobile -->
	<ul
		id="mobile-drawer"
		class="menu bg-base-200 rounded-box w-full hidden sm:hidden"
	>
		<li>
			{{#if (page_path "new_request")}}
				<a href="{{page_path 'help_center'}}">FAQs</a>
			{{else}}
				<a href="{{page_path 'new_request'}}">Contact Support</a>
			{{/if}}
		</li>
		<li><a>Visit Webstore</a></li>
		<li>
			<details>
				<summary
					class="btn btn-ghost btn-sm"
				>{{current_locale.name}}</summary>
				{{#if alternative_locales}}
					<ul
						class="bg-white shadow-sm border border-gray-200 rounded-t-none p-2"
					>
						{{#each alternative_locales}}
							<li><a
									href="{{url}}"
									dir="{{direction}}"
								>{{name}}</a></li>
						{{/each}}
					</ul>
				{{/if}}
			</details>
		</li>
	</ul>
</header>