<!-- Infobar -->
<section id="infobar-container" class="w-full flex flex-col">
	<!-- Infobar General -->
	{{#if settings.show_infobar_global}}
		<div
			id="infobar-component"
			class="infobar-component w-full bg-infobar-bg"
		>
			<div
				role="alert"
				class="alert bg-infobar-bg flex items-center max-w-7xl mx-auto border-x-0 border-y-0 px-4 py-2 rounded-none"
			>
				<svg
					width="20px"
					height="20px"
					viewBox="0 0 48 48"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<rect
						width="48"
						height="48"
						fill="white"
						fill-opacity="0.01"
					/>
					<path
						d="M24 44C29.5228 44 34.5228 41.7614 38.1421 38.1421C41.7614 34.5228 44 29.5228 44 24C44 18.4772 41.7614 13.4772 38.1421 9.85786C34.5228 6.23858 29.5228 4 24 4C18.4772 4 13.4772 6.23858 9.85786 9.85786C6.23858 13.4772 4 18.4772 4 24C4 29.5228 6.23858 34.5228 9.85786 38.1421C13.4772 41.7614 18.4772 44 24 44Z"
						fill="#2F88FF"
						stroke="#000000"
						stroke-width="4"
						stroke-linejoin="round"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M24 11C25.3807 11 26.5 12.1193 26.5 13.5C26.5 14.8807 25.3807 16 24 16C22.6193 16 21.5 14.8807 21.5 13.5C21.5 12.1193 22.6193 11 24 11Z"
						fill="white"
					/>
					<path
						d="M24.5 34V20H23.5H22.5"
						stroke="white"
						stroke-width="4"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
					<path
						d="M21 34H28"
						stroke="white"
						stroke-width="4"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg>
				<div id="infobar-content">
					<p
						class="!text-sm text-center text-infobar-text font-semibold"
					>
						{{dc "cc_help_center_infobar_content"}}
					</p>
				</div>
				<span class="infobar-dismiss ms-auto cursor-pointer">
					<i class="ph ph-x text-infobar-text"></i>
				</span>
			</div>
		</div>
	{{/if}}

	{{#if settings.show_warning_infobar_global}}
		<div
			id="infobar-component"
			class="infobar-component w-full bg-infobar-bg"
		>
			<div
				role="alert"
				class="alert bg-infobar-bg flex items-center max-w-7xl mx-auto border-x-0 border-y-0 px-4 py-2 rounded-none"
			>
				<svg
					width="20px"
					height="20px"
					viewBox="0 0 64 64"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					aria-hidden="true"
					role="img"
					class="iconify iconify--emojione"
					preserveAspectRatio="xMidYMid meet"
				>
					<path
						d="M5.9 62c-3.3 0-4.8-2.4-3.3-5.3L29.3 4.2c1.5-2.9 3.9-2.9 5.4 0l26.7 52.5c1.5 2.9 0 5.3-3.3 5.3H5.9z"
						fill="#ffce31"
					>
					</path>
					<g fill="#231f20">
						<path
							d="M27.8 23.6l2.8 18.5c.3 1.8 2.6 1.8 2.9 0l2.7-18.5c.5-7.2-8.9-7.2-8.4 0"
						>
						</path>
						<circle cx="32" cy="49.6" r="4.2">
						</circle>
					</g>
				</svg>
				<div id="infobar-content">
					<p
						class="!text-sm text-center text-infobar-text font-semibold"
					>
						{{dc "cc_help_center_infobar_content"}}
					</p>
				</div>
				<span class="infobar-dismiss ms-auto cursor-pointer">
					<i class="ph ph-x text-infobar-text"></i>
				</span>
			</div>
		</div>
	{{/if}}
</section>

<!-- Navbar -->
<header class="w-full bg-white shadow-lg">
	<div class="navbar max-w-7xl mx-auto">
		<div class="flex-1">
			<!-- <a
				href="{{page_path 'help_center'}}"
				class="link no-underline text-xl"
			>{{settings.brand_name}}</a> -->
			<a
				href="{{page_path 'help_center'}}"
				class="flex items-center gap-2"
			>
				<img
					src="{{settings.logo}}"
					alt="{{settings.brand_name}}"
					class="w-32 h-auto"
				/>
				{{#if settings.show_brand_name}}
					{{settings.brand_name}}
				{{/if}}
			</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal hidden sm:flex items-center px-1">
				<li>
					<a id="dynamic-link" href=""></a>
				</li>
				<li><a href="{{settings.webstore_link}}">Visit Webstore</a></li>
				<div class="divider divider-horizontal divider-neutral"></div>
				{{#if alternative_locales}}
					<li>
						<details>
							<summary
								class="font-normal"
							>{{current_locale.name}}</summary>
							<ul
								class="bg-white shadow-sm border border-gray-200 rounded-t-none p-2"
							>
								{{#each alternative_locales}}
									<li><a
											href="{{url}}"
											dir="{{direction}}"
										>{{name}}</a></li>
								{{/each}}
							</ul>
						</details>
					</li>
				{{/if}}
			</ul>
			<div
				id="hamburger-btn"
				tabindex="0"
				role="button"
				class="btn btn-ghost sm:hidden"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h16M4 18h7"
					/>
				</svg>
			</div>
		</div>
	</div>
	<!-- Menu drawer on mobile -->
	<ul
		id="mobile-drawer"
		class="menu bg-base-200 rounded-box w-full hidden sm:hidden"
	>
		<li>
			<a id="dynamic-link-mobile" href=""></a>
		</li>
		<li><a href="{{settings.webstore_link}}">Visit Webstore</a></li>
		{{#if alternative_locales}}
			<li>
				<details>
					<summary
						class="font-normal"
					>{{current_locale.name}}</summary>
					<ul class="p-2">
						{{#each alternative_locales}}
							<li><a
									href="{{url}}"
									dir="{{direction}}"
								>{{name}}</a></li>
						{{/each}}
					</ul>
				</details>
			</li>
		{{/if}}
	</ul>
</header>