<!-- Hero Section -->
<section
	id="cc-hero-section"
	class="hero min-h-[50dvh]"
	style="background-image: url({{settings.homepage_background_image}});"
>
	<div class="hero-overlay"></div>
	<div class="hero-content w-full max-w-3xl text-neutral-content text-center">
		<div class="w-full">
			<h1 class="mb-5 text-white font-bold">
				How can we help you today?
			</h1>
			{{search
				instant=true
				class="input max-md:w-full md:w-2/3 lg:w-full focus-within:outline-sky-500 rounded-lg text-black h-12 py-1"
			}}
		</div>
	</div>
</section>

<section
	class="max-w-5xl max-md:w-full md:w-2/3 min-h-[50dvh] lg:w-full mx-auto px-4 py-12"
>
	<section class="flex-1 flex items-start mt-6">
		<aside id="promoted-articles-section" class="w-full md:w-1/3 h-max">
			<h3 class="text-md font-semibold">Articles in this section</h3>
			<div class="w-full join join-vertical mt-2 gap-2">
				{{#each promoted_articles}}
					<a
						href="{{url}}"
						class="btn btn-md h-[50px] flex items-center justify-start border-brand text-brand hover:bg-brand transition-colors rounded-lg hover:text-white text-start text-sm line-clamp-2 leading-4"
					>
						{{title}}
					</a>
				{{/each}}
			</div>
		</aside>
		<section class="w-full md:w-[75%] flex flex-col px-4">
			<h2 class="text-lg w-full font-semibold pb-4">
				{{t "preview_result_header" query=query}}
			</h2>
			{{#if results}}
				<hr class="w-full border-1.5 border-ott-tertiary/50" />
				<div class="w-full flex flex-col gap-4 pt-4">
					{{#each results}}
						<div class="flex-1 flex flex-col justify-start">
							<a
								href="{{url}}"
								class="text-lg text-brand hover:text-brand/85 transition-colors font-bold"
							>
								{{title}}
							</a>
							<p class="!text-xs text-ott-tertiary mt-1.5">
								by
								<span class="font-semibold">
									{{author.name}}
									&#x2022;
									{{date created_at format="medium"}}
								</span>
							</p>
							<p class="text-main-text !text-sm mt-1.5">
								{{text}}
							</p>
						</div>
					{{/each}}
				</div>
				{{pagination}}
			{{else}}
				<p class="text-ott-tertiary font-semibold">
					{{t "no_results_unified"}}
				</p>
			{{/if}}
		</section>
	</section>
</section>